## To print Top Half Hallow Diamond Pattern with * symbols

In [16]:
n = int(input("Enter the number of rows"))

for i in range(n):
    print('  '*(n-1-i) + '* '  , end="")
    
    if i>=1:
        print('  '*(2*i-1) + '*',end="")
    print()

Enter the number of rows7
            *
          *   *
        *       *
      *           *
    *               *
  *                   *
*                       *

***

## To print Top Half Hallow Diamond Pattern with fixed digit in every row

In [20]:
n = int(input("Enter the number of rows :"))

for i in range(n):
    print('  '*(n-1-i) + str(i+1)+" " , end="")
    if i>=1:
        print('  '*(2*i-1) + str(i+1)+" ",end="")
    print()

Enter the number of rows :5
        1
      2   2
    3       3
  4           4
5               5

***

## To print Top Half Hollow Diamond Pattern with numbers in descending order

In [21]:
n = int(input("Enter the number of rows :"))

for i in range(n):
    print('  '*(n-1-i) + str(n-i)+" " , end="")
    if i>=1:
        print('  '*(2*i-1) + str(n-i)+" ",end="")
    print()

Enter the number of rows :5
        5
      4   4
    3       3
  2           2
1               1

***

## To print Top Half Hallow Diamond Pattern with fixed alphabet symbol in every row

In [22]:
n = int(input("Enter the number of rows :"))

for i in range(n):
    print('  '*(n-1-i) + chr(65+i)+" " , end="")
    if i>=1:
        print('  '*(2*i-1) + chr(65+i)+" ",end="")
    print()

Enter the number of rows :5
        A
      B   B
    C       C
  D           D
E               E

## To print Top Half Hollw Diamond Pattern with aplhabet symbols in reverse of dictionary order

In [23]:
n = int(input("Enter the number of rows :"))

for i in range(n):
    print('  '*(n-1-i) + chr(64+n-i)+" " , end="")
    if i>=1:
        print('  '*(2*i-1) + chr(64+n-i)+" ",end="")
    print()

Enter the number of rows :5
        E
      D   D
    C       C
  B           B
A               A

***