In [2]:
for i in range(7):
    for j in range(5):
        if j==0 or j==4 or i==0 or i==6:
            print('*',end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [4]:
for row in range(7):
    for col in range(5):
        if row ==0 or row == 6:
            print('*' , end=' ')
        elif (row in {1,2,3,4,5}) and (col in {0,4}):
            print('*' , end=' ')
        else:
            print(' ' , end=' ')
    print()

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

***

## To print alphabet Symbol 'A'

In [10]:
for row in range(7):
    for col in range(5):
        if row == 0 and col in {1,2,3}:
            print('*' , end=' ')
        elif row in {1,2,4,5,6} and col in {0,4}:
            print('*' , end=' ')
        elif row==3:
            print('*' , end=' ')
        else:
            print(' ' , end=' ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

***

## To print alphabet Symbol 'B'

In [8]:
for row in range(7):
    for col in range(5):
        if row in {0,3,6} and col in {0,1,2,3}:
            print("*" , end=" ")
        elif row in {1,2,4,5} and col in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

## To print alphabet Symbol 'C'

In [19]:
for row in range(7):
    for col in range(5):
        if row in {0,6} and col in {1,2,3}:
            print("*" , end=" ")
        elif row in {1,5} and col in {0,4}:
            print("*" , end=" ")
        elif row in {2,3,4} and col==0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*
*
*
*       *
  * * *

## To print alphabet Symbol 'D'

In [20]:
for row in range(7):
    for col in range(5):
        if row in {0,6} and col in {0,1,2,3}:
            print("*" , end=" ")
        elif row in {1,2,3,4,5} and col in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

In [22]:
for row in range(7):
    for col in range(5):
        if row in {0,6} and col != 4:
            print("*" , end=" ")
        elif row in range(1,6) and col in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
*       *
*       *
*       *
* * * *

***

## To print alphabet Symbol 'E'

In [23]:
for row in range(7):
    for col in range(5):
        if row in {0,3,6}:
            print("*" , end=" ")
        elif row in {1,2,4,5} and col == 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

In [24]:
for row in range(7):
    for col in range(5):
        if row%3 == 0:
            print("*" , end=" ")
        elif row%3 != 0 and col == 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
*
*
* * * * *
*
*
* * * * *

***

## To print alphabet Symbol 'F'

In [27]:
for row in range(7):
    for col in range(5):
        if row in {0,3}:
            print("*" , end=" ")
        elif row in {1,2,4,5,6} and col == 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
*
*
* * * * *
*
*
*

In [28]:
for row in range(7):
    for col in range(5):
        if row in {0,3}:
            print("*" , end=" ")
        elif row not in {0,3} and col == 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
*
*
* * * * *
*
*
*

***

## To print alphabet Symbol 'G'

In [36]:
for row in range(7):
    for col in range(5):
        if row in {0,6} and col in {1,2,3}:
            print("*" , end=" ")
        elif row in {1,4,5} and col in {0,4}:
            print("*" , end=" ")
        elif row == 2 and col == 0:
            print("*" , end=" ")
        elif row == 3 and col != 1:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*
*   * * *
*       *
*       *
  * * *

***

## To print alphabet Symbol 'H'

In [39]:
for row in range(7):
    for col in range(5):
        if row ==3 :
            print("*" , end=" ")
        elif row != 3 and col in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
*       *
* * * * *
*       *
*       *
*       *

***

## To print alphabet Symbol 'I'

In [41]:
for row in range(7):
    for col in range(5):
        if row in {0,6} :
            print("*" , end=" ")
        elif row not in {0,6} and col == 2:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
    *
    *
    *
    *
    *
* * * * *

***

## To print alphabet Symbol 'J'

In [45]:
for row in range(7):
    for col in range(5):
        if row ==0 :
            print("*" , end=" ")
        elif row in {1,2,3,4} and col == 2:
            print("*" , end=" ")
        elif row == 5 and col in {0,2}:
            print("*" , end=" ")
        elif row == 6 and col == 1:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
    *
    *
    *
    *
*   *
  *

***

## To print alphabet Symbol 'K'

In [47]:
for row in range(7):
    for col in range(5):
        if row in {0,6} and col in {0,4}:
            print("*" , end=" ")
        elif row in {1,5} and col in {0,3}:
            print("*" , end=" ")
        elif row in {2,4} and col in {0,2}:
            print("*" , end=" ")
        elif row == 3 and col in {0,1}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*     *
*   *
* *
*   *
*     *
*       *

***

## To print alphabet Symbol 'L'

In [49]:
for row in range(7):
    for col in range(5):
        if row != 6 and col == 0:
            print("*" , end=" ")
        elif row == 6:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*
*
*
*
*
*
* * * * *

***

## To print alphabet Symbol 'M'

In [52]:
for row in range(7):
    for col in range(5):
        if row not in {1,2} and col in {0,4}:
            print("*" , end=" ")
        elif row == 1 and col !=2:
            print("*" , end=" ")
        elif row == 2 and col not in {1,3}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
* *   * *
*   *   *
*       *
*       *
*       *
*       *

***

## To print alphabet Symbol 'N'

In [56]:
for row in range(7):
    for col in range(5):
        if row in {0,1,5,6} and col in {0,4}:
            print("*" , end=" ")
        elif row == 2 and col in {0,1,4}:
            print("*" , end=" ")
        elif row == 3 and col in {0,2,4}:
            print("*" , end=" ")
        elif row == 4 and col in {0,3,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
* *     *
*   *   *
*     * *
*       *
*       *

***

## To print alphabet Symbol 'N' In Square Style 
#### Row = 6
#### Col = 6

In [62]:
for row in range(6):
    for col in range(6):
        if row in {0,5} and col in {0,5}:
            print("*" , end=" ")
        elif row == 1 and col in {0,1,5}:
            print("*" , end=" ")
        elif row == 2 and col in {0,2,5}:
            print("*" , end=" ")
        elif row == 3 and col in {0,3,5}:
            print("*" , end=" ")
        elif row == 4 and col in {0,4,5}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*         *
* *       *
*   *     *
*     *   *
*       * *
*         *

***

## To print alphabet Symbol 'O'

In [66]:
for row in range(7):
    for col in range(5):
        if row in {0,6} and col in {1,2,3}:
            print("*" , end=" ")
        elif row not in {0,6} and col in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

***

## To print alphabet Symbol 'P'

In [69]:
for row in range(7):
    for col in range(5):
        if row in {0,3} and col != 4:
            print("*" , end=" ")
        elif row in {1,2} and col in {0,4}:
            print("*" , end=" ")
        elif row in {4,5,6} and col == 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
* * * *
*
*
*

***

## To print alphabet Symbol 'Q'

In [73]:
for row in range(7):
    for col in range(5):
        if row == 0 and col in {1,2,3}:
            print("*" , end=" ")
        elif row in {1,2,3} and col in {0,4}:
            print("*" , end=" ")
        elif row == 4 and col in {0,2,4}:
            print("*" , end=" ")
        elif row == 5 and col in {0,3,4}:
            print("*" , end=" ")
        elif row == 6 and col != 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*       *
*       *
*   *   *
*     * *
  * * * *

***

## To print alphabet Symbol 'R'

In [79]:
for row in range(7):
    for col in range(5):
        if row in {0,3} and col != 4:
            print("*" , end=" ")
        elif row in {1,2} and col in {0,4}:
            print("*" , end=" ")
        elif row == 4 and col in {0,2}:
            print("*" , end=" ")
        elif row == 5 and col in {0,3}:
            print("*" , end=" ")
        elif row == 6 and col in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
* * * *
*   *
*     *
*       *

***

## To print alphabet Symbol 'S'

In [80]:
for row in range(7):
    for col in range(5):
        if row in {0,3,6} and col in {1,2,3}:
            print("*" , end=" ")
        elif row in {1,5} and col in {0,4}:
            print("*" , end=" ")
        elif row == 2 and col == 0:
            print("*" , end=" ")
        elif row == 4 and col == 4:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*
  * * *
        *
*       *
  * * *

***

## To print alphabet Symbol 'T'

In [81]:
for row in range(7):
    for col in range(5):
        if row == 0:
            print("*" , end=" ")
        elif row !=0 and col == 2:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
    *
    *
    *
    *
    *
    *

***

## To print alphabet Symbol 'U'

In [85]:
for row in range(7):
    for col in range(5):
        if row != 6 and col in {0,4}:
            print("*" , end=" ")
        elif row == 6 and col not in {0,4}:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
*       *
*       *
*       *
*       *
  * * *

***

## To print alphabet Symbol 'V'

In [88]:
for row in range(7):
    for col in range(5):
        if row in range(5) and col in {0,4}:
            print("*" , end=" ")
        elif row == 5 and col in {1,3}:
            print("*" , end=" ")
        elif row == 6 and col == 2:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
*       *
*       *
*       *
  *   *
    *

***

## To print alphabet Symbol 'W'

In [98]:
for row in range(7):
    for col in range(5):
        if row not in {4,5} and col in {0,4}:
            print("*" , end=" ")
        elif row == 4 and col in {0,2,4}:
            print("*" , end=" ")
        elif row == 5 and col != 2:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
*       *
*       *
*   *   *
* *   * *
*       *

***

## To print alphabet Symbol 'X'

In [100]:
for row in range(7):
    for col in range(5):
        if row in {0,1,5,6} and col in {0,4}:
            print("*" , end=" ")
        elif row in {2,4} and col in {1,3}:
            print("*" , end=" ")
        elif row == 3 and col == 2:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
  *   *
    *
  *   *
*       *
*       *

***

## To print alphabet Symbol 'Y'

In [103]:
for row in range(7):
    for col in range(5):
        if row in {0,1} and col in {0,4}:
            print("*" , end=" ")
        elif row == 2 and col in {1,2,3}:
            print("*" , end=" ")
        elif row in range(3,7) and col == 2:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

*       *
*       *
  * * *
    *
    *
    *
    *

***

## To print alphabet Symbol 'Z'

In [110]:
for row in range(7):
    for col in range(5):
        if row in {0,6}:
            print("*" , end=" ")
        elif row == 1 and col == 4:
            print("*" , end=" ")
        elif row == 2 and col == 3:
            print("*" , end=" ")
        elif row == 3 and col == 2:
            print("*" , end=" ")
        elif row == 4 and col == 1:
            print("*" , end=" ")
        elif row == 5 and col == 0:
            print("*" , end=" ")
        else:
            print(' ',end=' ')
    print()

* * * * *
        *
      *
    *
  *
*
* * * * *

***