## To print Diamond Pattern with * symbols

In [3]:
n = int(input("Enter the number of rows : "))

for i in range(n):
    print(' '*(n-1-i) + '* '*(i+1))
for j in range(n-1):
    print(' '*(j+1) + '* '*(n-1-j))

Enter the number of rows : 6
     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

***

## To print Diamond Pattern with fixed digit in every row

In [7]:
n = int(input('Enter the number of rows : '))

for i in range(n):
    print(' '*(n-1-i) + (str(i+1)+" ")*(i+1))
for j in range(n-1):
    print(' '*(j+1) + (str(n-1-j)+' ')*(n-1-j))

Enter the number of rows : 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

***

## To print Diamond Pattern with fixed alphabet symbol in every row

In [11]:
n = int(input('Enter the number of rows : '))

for i in range(n):
    print(' '*(n-1-i) + (chr(65+i)+" ")*(i+1))
for j in range(n-1):
    print(' '*(j+1) + (chr(64+n-(j+1))+' ')*(n-1-j))

Enter the number of rows : 5
    A
   B B
  C C C
 D D D D
E E E E E
 D D D D
  C C C
   B B
    A

***

## To print Diamond Pattern with alphabet symbols in dictionary order in every row

In [15]:
n = int(input("Enter the number of rows : "))

for i in range(n):
    print(' '*(n-1-i),end="")
    for j in range(i+1):
        print(chr(65+j),end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end="")
    for j in range(n-1-i):
        print(chr(65+j),end=' ')
    print()

Enter the number of rows : 5
    A
   A B
  A B C
 A B C D
A B C D E
 A B C D
  A B C
   A B
    A

***

In [26]:
n = int(input("Enter the number of rows : "))

for i in range(n):
    print(' '*(n-1-i),end="")
    for j in range(i+1):
        print(chr(64+n-j),end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end="")
    for j in range(n-1-i):
        print(chr(64+n-j),end=' ')
    print()

Enter the number of rows : 5
    E
   E D
  E D C
 E D C B
E D C B A
 E D C B
  E D C
   E D
    E

***

## To print Diamond Pattern with digits in descending order in every row

In [21]:
n = int(input("Enter the number of rows : "))

for i in range(n):
    print(' '*(n-1-i),end="")
    for j in range(i+1):
        print(n-j,end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end="")
    for j in range(n-1-i):
        print(n-j,end=' ')
    print()

Enter the number of rows : 5
    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1
 5 4 3 2
  5 4 3
   5 4
    5

***

In [23]:
n = int(input("Enter the number of rows : "))

for i in range(n):
    print(' '*(n-1-i),end="")
    for j in range(i+1):
        print(j+1,end=" ")
    print()
for i in range(n-1):
    print(' '*(i+1),end="")
    for j in range(n-1-i):
        print(j+1,end=' ')
    print()

Enter the number of rows : 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

***