# Square Patters

***

## To print given number of * in a row

In [5]:
n = int(input("Enter a number : "))

for i in range(n):
    print("*" , end=" ")

Enter a number : 6
* * * * * *

***

## To print square pattern with * symbols

In [8]:
print("* "*3)

* * *

In [9]:
print("* "*7)

* * * * * * *

In [10]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print("* "*n)

Enter a number of rows : 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

***

## To print square pattern with provided fixed digit

In [14]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print(str(n)+' '*n)

Enter a number of rows : 5
5
5
5
5
5

In [13]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print((str(n)+' ')*n)    # print(str(n)+' '*n) --> print((str(n)+' ')*n)

Enter a number of rows : 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

***

## Square pattern with provided fixed digit in every row

In [16]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print((str(i+1)+' ')*n)

Enter a number of rows : 7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7