# Square Patters

***

## To print given number of * in a row

In [5]:
n = int(input("Enter a number : "))

for i in range(n):
    print("*" , end=" ")

Enter a number : 6
* * * * * *

***

## To print square pattern with * symbols

In [8]:
print("* "*3)

* * *

In [9]:
print("* "*7)

* * * * * * *

In [10]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print("* "*n)

Enter a number of rows : 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

***

## To print square pattern with provided fixed digit

In [14]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print(str(n)+' '*n)

Enter a number of rows : 5
5
5
5
5
5

In [13]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print((str(n)+' ')*n)    # print(str(n)+' '*n) --> print((str(n)+' ')*n)

Enter a number of rows : 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5
5 5 5 5 5

***

## Square pattern with provided fixed digit in every row

In [16]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print((str(i+1)+' ')*n)

Enter a number of rows : 7
1 1 1 1 1 1 1
2 2 2 2 2 2 2
3 3 3 3 3 3 3
4 4 4 4 4 4 4
5 5 5 5 5 5 5
6 6 6 6 6 6 6
7 7 7 7 7 7 7

***

##  To print square pattern with fixed alphabet symbol

In [17]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print('A '*n)

Enter a number of rows : 6
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A

***

## To print square pattern with digits

In [24]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    for j in range(n):
        print((j+1) , end=" ")
    print()

Enter a number of rows : 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

***

## Square pattern with alphabet symbols in dictionary order

In [29]:
print('A')

A

In [28]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    for j in range(n):
        print(chr(65+j),end=" ")
    print()

Enter a number of rows : 5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [30]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    for j in range(n):
        print(chr(65+j)+' ',end="")
    print()

Enter a number of rows : 5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

***

## To print square pattern with digits in descending order

In [32]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print((str(n-i)+" ")*n)

Enter a number of rows : 6
6 6 6 6 6 6
5 5 5 5 5 5
4 4 4 4 4 4
3 3 3 3 3 3
2 2 2 2 2 2
1 1 1 1 1 1

***

## To print square pattern with alphabets in reverse of dictionary order

In [37]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    print((chr(64+n-i)+' ')*n)

Enter a number of rows : 5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

***

## To print square pattern with digits in descending order

In [38]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    for j in range(n):
        print((n-j),end=' ')
    print()

Enter a number of rows : 5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

***

## To print square pattern with alphabets in reverse of dictionary order

In [39]:
n = int(input("Enter a number of rows : "))

for i in range(n):
    for j in range(n):
        print(chr(64+n-j),end=' ')
    print()

Enter a number of rows : 5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A